@import "../../../helpers/src/styles/px-to-rem.scss";
@import "./variables.scss";

.blockly {
  font-family: monospace;
  height: 500px;
  white-space: pre-wrap;
  width: 100%;

  .blocklyDiv {
    height: 480px;
    width: 100%;
  }
  .error {
    color: $danger-red;
    margin-bottom: 10px;
  }
}
