@import "./variables.scss";

.customBlockForm {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;

  *, *::before, *::after {
    box-sizing: border-box;
  }

  input, select, textarea, button {
    max-width: 100%;
  }

  // In flex layouts, allow items to shrink within container
  .fieldRow, .customBlockForm_basicFields, .customBlockForm_countFields {
    min-width: 0;
  }

  .customBlockForm_basicFields label,
  .customBlockForm_category label,
  .customBlockForm_globalName label,
  .customBlockForm_globalValueType label,
  .customBlockForm_typeLabel label,
  .customBlockForm_countFields > div label,
  .customBlockForm_targetEntity label,
  .customBlockForm_options label {
    @include form-label();
  }

  .customBlockForm_canHaveChildren label,
  .customBlockForm_includeCount label,
  .customBlockForm_includeNumberInput label {
    @include checkbox-label();
    
    input[type="checkbox"] {
      margin: 0;
      vertical-align: middle;
    }
  }

  .customBlockForm_category select,
  .customBlockForm_globalValueType select,
  .customBlockForm_targetEntity select,
  .conditionLabelPosition {
    @include form-input-sm();
    padding: $form-input-padding-sm;
    
    &:focus {
      @include focus-state();
    }
  }

  .customBlockForm_includeAllOption label {
    @include checkbox-label();

    input[type="checkbox"] {
      margin: 0;
      vertical-align: middle;
    }
  }

  .customBlockForm_showTargetEntityLabel label {
    @include checkbox-label();

    input[type="checkbox"] {
      margin: 0;
      vertical-align: middle;
    }
  }

  input[type="text"],
  input[type="number"],
  input[type="color"] {
    @include form-input();
    padding: $form-input-padding;
    
    &:focus {
      @include focus-state();
    }
  }

  .customBlockForm_basicFields {
    align-items: flex-start;
    display: flex;
    gap: $spacing-xl;
    
    .customBlockForm_name,
    .customBlockForm_color {
      @include form-field-group();
      flex: 1;
      
      input {
        max-width: 100%;
        width: 100%;
      }

      &.customBlockForm_color {
        input[type="color"] {
          cursor: pointer;
          height: 32px;
          max-width: 32px;
          padding: 2px;
          width: 32px;
        }
      }
    }
  }

  .customBlockForm_category {
    @include form-field-group();
  }

  .customBlockForm_globalName {
    @include form-field-group();
  }

  .customBlockForm_globalValueType {
    @include form-field-group();
  }

  .helpText {
    color: $text-light;
    font-size: $font-size-xs;
    margin-top: $spacing-xs;
  }

  .customBlockForm_inputs {
    align-items: center;
    display: none; // flex; // see TODO comment in custom-block-form.tsx
    flex-wrap: wrap;
    gap: $spacing-xxl;
    
    .inlineLabel {
      @include checkbox-label();
      white-space: nowrap;

      input {
        margin: 0;
      }
    }
  }

  .customBlockForm_typeLabel {
    @include form-field-group();
    
    input {
      flex: 1;
      max-width: 200px;
    }
  }

  .customBlockForm_countFields {
    display: grid;
    gap: $spacing-xl;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    
    > div {
      @include form-field-group();
      gap: 2px;
      
      label {
        font-size: $font-size-sm;
      }
      
      input {
        @include form-input-sm();
        padding: $form-input-padding-sm;
      }
    }
  }

  .customBlockForm_canHaveChildren,
  .customBlockForm_includeCount,
  .customBlockForm_includeNumberInput {
    align-items: center;
    display: flex;
    gap: $spacing-md;
  }

  .customBlockForm_targetEntity,
  .customBlockForm_options {
    @include form-field-group();
    gap: $spacing-md;
    
    label {
      margin-bottom: 2px;
    }
  }

  .submitButton {
    align-items: center;
    display: flex;
    height: 55px;
  
    button[type="button"] {
      align-self: center;
      background: $success-green;
      border: none;
      border-radius: $border-radius-sm;
      color: white;
      cursor: pointer;
      font-weight: $font-weight-medium;
      padding: 10px $spacing-xxl;
      
      &:hover {
        background: $success-green-hover;
      }
    }
  }

  span.required {
    color: $danger-red;
    margin-left: 2px;
  }

  .customBlockForm_generatorTemplate {
    textarea {
      @include form-input-sm();
      padding: $form-input-padding-sm;
    }
  }
}
