.modalForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .modalInputGroup {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    label {
      display: inline;
      white-space: pre-wrap;
      font-weight: normal;
    }

    input[type="text"], select {
      display: inline;
      padding: 4px 8px;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  }
}
