@import "../../shared/styles/helpers";

.imageContainer{
  width: 100%;
  img{
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
.caption{
  font-size: 0.9em;
  width: 100%;
  text-align: center;
  line-height: 2em;
}

.credit{
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  line-height: 2em;
}

.creditLink{
  font-size: 0.8em;
  width: 100%;
  text-align: center;
  line-height: 2em;
}
