@import "../../shared/styles/helpers";
.runtime{
  height:100%;
}
.imageContainer{
  width: 100%;
  margin-bottom: 10px;
  img{
    max-width: 100%;
    height: auto;
  }
  &.fitWidth{
    img{
      width: 100%;
    }
  }
}
.caption{
  font-size: 0.8em;
  width: 100%;
  line-height: 1.5em;
}

.credit{
  font-size: 0.8em;
  width: 100%;
  line-height: 1.2em;
}

.creditLink{
  font-size: 0.8em;
  width: 100%;
  line-height: 1.2em;
}
