:global(html), :global(body) {
  height: 100%;
}
:global(#app) {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

// remove the hint as it is confusing in the interactive preview
[class*="hint"] {
  display: none;
}

.demo {
  display: flex;
  flex-direction: column;
  flex: auto;
  min-height: 0;

  .header {
    padding: 10px;
    color: white;
    background-color: #0592AF;

    h1 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .split {
    display: flex;
    flex: auto;
    min-height: 0;
    gap: 10px;

    > div {
      display: flex;
      flex: auto;
      min-height: 0;

      iframe {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }

    div:nth-child(1) {
      padding-right: 0;

      iframe {
        border-right: 1px solid #777;
      }
    }
    div:nth-child(2) {
      padding-left: 0;
    }
  }
}

.reportItem {
  border-top: 1px solid #777;
  margin-top: 10px;
  padding-top: 10px;

  iframe {
    border: none;
    width: 100%;
  }
}
