@import "../../shared/styles/helpers";

.draggingArea {
  border: 1px solid gray;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;

  .prompt {
    position: absolute;
  }
}
