@import "../../shared/styles/helpers";

.draggableItemWrapper {
  position: absolute;

  &.draggable {
    cursor: move;
    &:hover {
      $border-width: 4px;
      border: $border-width solid #ffdd00;
      transform: translate(-$border-width, -$border-width);
    }
  }
  img {
    pointer-events: none;
  }
  .itemLabel {
    position: absolute;
    bottom: -25px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
