@import "../../shared/styles/helpers";

.dropZone {
  position: relative;
  cursor: move;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img {
    pointer-events: none;
  }
  .targetLabel {
    position: absolute;
    bottom: 0;
  }
}
