@import "../../shared/styles/helpers";

.draggingArea {
  border: 1px solid gray;
  position: relative;

  .prompt {
    position: absolute;
  }

  .draggableItem {
    position: absolute;
    cursor: move;
    img {
      pointer-events: none;
    }
  }
}
