@import "@concord-consortium/question-interactives-helpers/src/styles/helpers";

.tecRockTable {
  legend.prompt {     // clear bootstrap stuff
    display: unset;
    width: unset;
    margin-bottom: unset;
    font-size: unset;
    border: unset;
    padding-bottom: 5px;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    th:first-child {
      width: 400px;
    }

    td {
      border: 1px solid rgba(0,0,0,0.1);
      padding: 3px;
    }
  }
}
