@mixin interactive-button-base {
  align-items: center;
  background-color: var(--cc-teal-light-5);
  border: solid 1.5px #949494;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 0;
  height: 34px;
  width: 34px;

  &:hover:not([disabled]) {
    background-color: var(--cc-teal-light-3);
  }

  &:active:not([disabled]) {
    background-color: var(--cc-teal);

    .buttonIcon {
      color: white;
    }
  }

  &[disabled] {
    background-color: var(--cc-teal-light-4);
    border-color: #b8b8b8;
    cursor: not-allowed;
    opacity: 0.5;

    &.fullOpacity {
      opacity: 1;
    }

    .buttonIcon {
      color: #a0a0a0;
    }

    &:hover, &:active {
      background-color: var(--cc-teal-light-4);

      .buttonIcon {
        color: #a0a0a0;
      }
    }
  }

  .buttonIcon {
    color: var(--cc-teal);
  }
}

@mixin interactive-button-orange {
  background-color: white;

  &:hover:not([disabled]) {
    background-color: var(--cc-orange-light-3);
  }

  &:active:not([disabled]) {
    color: white;
    background-color: var(--cc-orange);
    border-color: white;

    svg {
      path {
        fill: white;
      }
    }
  }

  &[disabled] {
    background-color: var(--cc-orange-light-4);

    &:hover, &:active {
      background-color: var(--cc-orange-light-4);
    }
  }
}

