@import "../../../helpers/src/styles/px-to-rem.scss";
@import "../../../helpers/src/styles/helpers.scss";

.agentSimulationComponent {
  display: flex;
  flex-direction: column;
  gap: 0;

  .modelTitle {
    align-items: center;
    background: var(--cc-teal-light-5);
    border-bottom: solid 1px var(--cc-teal);
    color: var(--cc-charcoal);
    display: flex;
    font-size: 16px;
    height: 50px;
    margin: 0;
    padding: 8px;

    svg {
      margin-right: 8px;
    }
  }

  .simViewport {
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    position: relative;

    .simScrollArea {
      overflow: auto;
      max-height: 100%;
      max-width: 100%;
    }

    .simContainer {
      transform-origin: left top;
      transition: transform 0.2s ease-out;
    }
  }

  .error {
    background-color: #fee;
    border: 1px solid #fcc;
    padding: 5px;
  }

  .code {
    background-color: #eee;
    border: 1px solid #ccc;
    font-family: monospace;
    max-height: 250px;
    overflow-y: scroll;
    padding: 5px;
  }

  button {
    border-radius: 3px;
  }
}
