@import "../../../helpers/src/styles/px-to-rem.scss";
@import "../../../helpers/src/styles/helpers.scss";
@import "./_shared-button-styles.scss";

.agentSimulationComponent {
  display: flex;
  flex-direction: column;
  gap: 0;

  .topBar {
    align-items: center;
    background: var(--cc-teal-light-5);
    border-bottom: solid 1px var(--cc-teal);
    color: var(--cc-charcoal);
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: space-between;
    margin: 0;

    > div {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .leftSide {
      border-right: solid 1px var(--cc-teal);
      width: 50%;

      .modelIcon {
        margin-left: 8px;
        flex-grow: 0;
      }

      .modelInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        .modelName {
          height: auto;
        }

        .recordingInfo {
          height: auto;
          font-style: italic;
          font-size: 14px;
        }
      }
    }

    .rightSide {
      width: 50%;
    }

    // Media query for screens up to 449px wide
    @media (max-width: 449px) {
      display: block; // Change from flex to block to stack children vertically
      height: auto; // Allow the height to expand to accommodate stacked content

      > div {
        // Since .topBar is now block, its direct children (the divs) will stack.
        // We can adjust their styling if needed, but they will inherently stack.
        flex-grow: unset;
        height: 50px;
      }

      .topBar {
        border-bottom: none;
      }

      .leftSide {
        width: 100%;
        border-right: none;
        border-bottom: solid 1px var(--cc-teal);
      }
      .rightSide {
        width: 100%;
      }
    }
  }

  .controlPanelContainer {
    background: var(--cc-teal-light-5);
    display: flex;
    overflow: hidden;

    .returnToTinker {
      border-right: solid 1px var(--cc-teal);
      border-left: none;
      border-top: none;
      border-bottom: none;
      border-radius: 0;
      flex-grow: 0;
      height: 100%;
      padding: 8px;
      display: flex;
      align-items: center;

      button {
        @include interactive-button-base;

        &:hover:not([disabled]) {
          background-color: var(--cc-teal-light-3);
        }

        &:active:not([disabled]) {
          border-color: white;
          background-color: var(--cc-teal);

          path {
            fill: white;
          }
        }
      }
    }
  }

  .simViewport {
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding: 5px;
    position: relative;

    .simScrollArea {
      overflow: auto;
      max-height: 100%;
      max-width: 100%;
      position: relative;
    }

    .simContainer {
      transform-origin: left top;
      transition: transform 0.2s ease-out;
    }

    .snapshot {
      position: absolute;
      top: 0;
      left: 0;
      width: 450px;
      height: 450px;
      object-fit: contain;
    }
  }

  .error {
    background-color: #fee;
    border: 1px solid #fcc;
    padding: 5px;
  }

  .code {
    background-color: #eee;
    border: 1px solid #ccc;
    font-family: monospace;
    max-height: 250px;
    overflow-y: scroll;
    padding: 5px;
    user-select: text;
  }

  button {
    border-radius: 3px;
  }
}
