@import "../../../helpers/src/styles/px-to-rem.scss";

.agentSimulationComponent {
  display: flex;
  gap: 10px;
  flex-direction: column;

  button {
    border: 1px solid #333;
    border-radius: 3px;

    &.updateButton {
      background-color: #ffffdd;
    }
  
    &:disabled {
      background-color: #fcfcfc;
      border-color: #999;
      color: #999;
    }
  }

  .code {
    background-color: #eee;
    border: 1px solid #ccc;
    font-family: monospace;
    max-height: 250px;
    overflow-y: scroll;
    padding: 5px;
  }

  .error {
    background-color: #fee;
    border: 1px solid #fcc;
    padding: 5px;
  }
}
