legend.prompt {     // clear bootstrap stuff
  display: unset;
  width: unset;
  margin-bottom: unset;
  font-size: unset;
  border: unset;
  padding-bottom: 5px;
}
.answerPrompt{
  margin-top: 10px;
  margin-bottom: 4px;
}
.warn {
  color: darkred;
}
.studentAnswerText {
  font-style: italic;
  font-size: 0.9em;
}
