
.comment-field{
  display: flex;
  flex: 1;
  margin: 10px;
  margin-left: 5px;
  position: relative;
  border-radius: 8px;
  border: solid 1.5px var(--cc-charcoal-light-2);
  &:focus, &:focus-visible {
    border: solid 1.5px var(--cc-charcoal-light-3);
  }
  textarea {
    border-radius: 8px;
    border: none;
    padding-left: 32px;
    font-family: Lato;
    flex: 1;
    resize: vertical;
    min-width: 313px;
    max-width: 100%;
    max-height: 100%;
    min-height: 56px;
  }
}

