
.preview-wrapper {
  padding: 0px;
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .preview-panel {
    position: relative;
    width: 451px;
    height: 300px;
    padding: 0px;
    border-radius: 0px 8px 8px 0px;
    border: solid 1.5px var(--cc-charcoal);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
  }
  .toolbar {
    width: 44px;
    height: 300px;
    margin: 0px;
    padding: 0px;
    border-radius: 8px 0px 0px 8px;
    border: solid 1.5px var(--cc-charcoal);
    border-right: none;
    background-color: var(--cc-teal-light-7);
  }
  .item-view {
    font-size: 24pt;
  }
}

