// Colors &etc.

:root {
  --white: #ffffff;
  --cc-charcoal: #3f3f3f;
  --cc-charcoal-hint: #828282;
  --cc-charcoal-light-1: #979797;
  --cc-charcoal-light-2: #dfdfdf;
  --cc-teal-dark-2: #016082;
  --cc-teal-dark-1: #0481a0;
  --cc-teal: #0592af;
  --cc-teal-light-1: #2ba5c1;
  --cc-teal-light-2: #6fc6da;
  --cc-teal-light-3: #93d5e4;
  --cc-teal-light-4: #b7e2ec;
  --cc-teal-light-5: #cdebf2;
  --cc-teal-light-6: #e2f4f8;
  --cc-teal-light-7: #f5fbfc;
  --cc-orange-dark-1: #ea6d2f;
  --cc-orange: #ff8415;
  --cc-orange-light-1: #ffa350;
  --cc-orange-light-2: #ffc18a;
  --cc-orange-light-3: #ffcea1;
  --cc-orange-light-4: #ffe6d0;
  --cc-orange-light-4-b: #ffeddc;
  --cc-orange-light-5: #fff2e7;
  --cc-orange-light-6: #fff9f3;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #242424;
  background-color: #dfdfdf;

  font-family: Lato;
  font-size: 16px;
  color: var(--cc-charcoal);
  .container {
    position: relative;
    width: 514px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: solid 1px var(--cc-charcoal);
    background-color: var(--white);
  }
  .under-sketch {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    .buttons {
      display: flex;
      flex-direction: column;
    }
  }
  .draw-tool-wrapper {
    height: 500px;
    overflow: none;
  }
}

