
.button-back {
  width: 152px;
  height: 34px;
  margin: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: solid 1.5px var(--cc-charcoal-light-1);
  background-color: var(--cc-teal-light-5);
  font-family: Lato;
  font-weight: normal;
  color: var(--cc-charcoal);
  &:hover {
    background-color: var(--cc-teal-light-4);
  }
  &:active {
    background-color: var(--cc-teal-light-3);
  }
  &.disabled {
    opacity: 0.3;
  }
  svg {
    margin-right: 5px;
  }
}

