$correctColor: #055c05;
$incorrectColor: #930606;

$themeColor1: #83cddd;
$themeColor2: #34a5be;

@mixin lara-styles {
  // These values should match LARA. In the future, we might extend interactive API so LARA can provide them.
  padding: 20px 20px 13px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;

  input[type=checkbox], input[type=radio] {
    margin-right: 10px;
  }
}

// Based on LARA btn mixin from mw-runtime-base.scss (after little cleanup).
@mixin lara-button($color1: $themeColor1, $color2: $themeColor2) {
  font-size: 15px;
  font-weight: 500;
  color: #fcfcfc;
  padding: 9px 13px;
  // Color-dependent rules:
  background: $color1;
  background-image: linear-gradient(to bottom, $color1, $color2);
  border: 1px solid $color2;
  text-shadow: 0 -1px 0 darken($color1, 25%);
  // ---
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(0, 0, 0, 0.2) 0 1px 2px;
  border-radius: 4px;
  margin-top: 13px;
  cursor: pointer;
  text-transform: none;
  text-align: center;
  transition: all ease-in;


  &:hover {
    background-color: darken($color1, 5%);
    background-image: linear-gradient(to bottom, darken($color1, 5%), darken($color2, 10%));
  }

  &:active {
    background-color: darken($color1, 10%);
    background-image: linear-gradient(to bottom, darken($color1, 10%), darken($color2, 5%));
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
}

.laraButton {
  @include lara-button;
}

.locked {
  // Based on LARA styles.
  color: #525252;
  font-weight: lighter;
  background-color: #ededed;
  width: 100%;
  padding: 4px;
  font-size: 14pt;
  margin-top: 10px;
}

.extraInstructions {
  margin-top: 10px;
  background: #f5f5f5;
  padding: 5px;
  font-size: 0.9em;
}
