@import "../../../helpers/src/styles/helpers.scss";

.readoutWidget {
  align-items: center;
  color: #333;
  display: flex;
  font-size: 16px;
  gap: 5px;
  justify-content: center;

  .readoutWidget_label {
    display: inline-block;
    flex-shrink: 1;
    font-weight: normal;
    height: 26px;
    line-height: 26px;
    margin: 0;
    max-width: 60%;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  output {
    background: var(--cc-teal-light-6);
    border-radius: 4px;
    color: var(--cc-charcoal);
    display: inline-block;
    flex-shrink: 0;
    font-family: Lato, sans-serif;
    font-size: 16px;
    height: 26px;
    margin: 0;
    padding: 2px 5px;
  }

  // NOTE: there is a .inRecordingMode class added dynamically but
  // it is not styled here because this widget has no special recording styles.
}
