// Taken from CLUE repo
.rcSlider {
  position: relative;
  width: 100%;
  height: 14px;
  padding: 12px 0;
  touch-action: none;
  box-sizing: border-box;
  margin-top: 2px;

  // I couldn't figure out how to apply these styles given how question interactive processes scss files.
  // They're included here in case they're useful in the future.
  &-handle {
    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &-mark {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: 12px;
  }

  &-mark-text {
    position: absolute;
    display: inline-block;
    color: #999;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    &-active {
      color: #666;
    }
  }
}