// Taken from CLUE repo
.rcSlider {
  position: relative;
  width: 100%;
  height: 14px;
  padding: 12px 0;
  touch-action: none;
  box-sizing: border-box;
  margin-top: 2px;

  :global(.rc-slider-handle) {
    position: absolute;
    top: 5px;
    width: 15px;
    height: 15px;
    border: solid 2px;
    background-color: #fff;
    border-radius: 50%;
    cursor: grab;
    touch-action: pan-x;
    z-index: 2;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:active {
      cursor: grabbing;
    }
  }

  :global(.rc-slider-rail) {
    position: absolute;
    width: 95%;
    height: 2px;
    background-color: #949494;
  }

  :global(.rc-slider-track) {
    position: relative;
    width: 95%;
    height: 4px;
    top: -1px;
    background-color: #545454;
    border-radius: 1px;
  }

  :global(.rc-slider-mark) {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    font-size: 12px;
  }

  :global(.rc-slider-mark-text) {
    position: absolute;
    display: inline-block;
    color: #999;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }

  :global(.rc-slider-mark-text-active) {
    color: #666;
  }
}