@import "../../../helpers/src/styles/helpers.scss";

.sliderWidget {
  color: #333;
  font-size: 16px;
  text-align: center;

  // Wrapper for the slider element
  .sliderBody {
    background-color: var(--cc-teal-light-6);
    border-radius: 17px;
    margin-top: 5px;
    padding: 12px 15px;
  }

  // Originally taken from CLUE repo, but modified
  .rcSlider {
    box-sizing: border-box;
    height: 10px;
    position: relative;
    touch-action: none;
    width: 100%;

    :global(.rc-slider-handle) {
      background-color: #fff;
      border-radius: 50%;
      border: solid 1.5px var(--cc-teal-dark-1);
      cursor: grab;
      height: 24px;
      margin-left: 0;
      margin-top: -7px;
      position: absolute;
      touch-action: pan-x;
      width: 24px;
      z-index: 2;

      &:focus {
        box-shadow: none;
        outline: none;
      }

      &:active {
        cursor: grabbing;
      }
    }

    :global(.rc-slider-rail) {
      background-color: #949494;
      height: 2px;
      position: absolute;
      top: 4px;
      width: 100%;
    }

    :global(.rc-slider-track) {
      background-color: var(--cc-teal-dark-1);
      border-radius: 1px;
      height: 4px;
      position: absolute;
      top: 3px;
    }

    :global(.rc-slider-mark) {
      font-size: 12px;
      left: 0;
      position: absolute;
      top: 18px;
      width: 100%;
    }

    :global(.rc-slider-mark-text) {
      color: #999;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      text-align: center;
      vertical-align: middle;
    }

    :global(.rc-slider-mark-text-active) {
      color: #666;
    }
  }

  &.recording {
    :global(.rc-slider-handle) {
      border: solid 1.5px var(--cc-orange-dark-1);
    }

    :global(.rc-slider-track) {
      background-color: var(--cc-orange-dark-1);
    }
  }
}
