.valueContainer {
  border: solid 1.5px #949494;
  border-radius: 4px;
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  height: 26px;
  min-width: fit-content;
  overflow: hidden;
  width: fit-content;

  /* Hide the up and down arrows for the input */
  /* For Chrome, Safari, Edge, Opera */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* For Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .valueInput {
    background-color: white;
    border: none;
    display: inline-block;
    padding: 0 3px 0 0;
    text-align: right;

    &:hover {
      background-color: var(--cc-teal-light-4);
    }
  }

  .unit {
    min-width: fit-content;
    padding: 1px 6px 0 3px;
  }

  &.inRecordingMode {
    background-color: var(--cc-orange-light-5);

    .valueInput {
      &:hover {
        background-color: var(--cc-orange-light-1);
      }
    }
  }

  &.recording,
  &.completedRecording {
    background-color: white;
    border-color: white;

    .valueInput {
      background-color: white;
      border: none;

      &:hover {
        background-color: white;
      }
    }
  }
}
