.openResponse {
  legend.prompt {     // clear bootstrap stuff
    display: unset;
    width: unset;
    margin-bottom: unset;
    font-size: unset;
    border: unset;
    padding-bottom: 5px;

    img {
      height: auto;
      max-width: 100%;
    }
  }
  button.audioControl {
    background: transparent;
    border: none;
    box-sizing: content-box;
    color: #313131;
    font-size: 34px;
    height: 34px;
    margin: 0;
    padding: 5px;
    position: relative;
    transition: .2s;
    width: 34px;

    .buttonText {
      display: block;
      height: 0;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      width: 0;
    }

    &:hover {
      border-color: #0592af;
      color: #0592af;
    }
    &:active {
      border-color: #02607c;
      color: #02607c;
    }
    &.active {
      animation: isActive .7s infinite;
      border-color: #0592af;
      color: #0592af;
      cursor: not-allowed;
    }
    &.recordingActive {
      animation: isActive .7s infinite;
      border-color: #0592af;
      color: #0592af;
      cursor: not-allowed;
    }
    &.disabled {
      cursor: not-allowed;
      opacity: .5;
      &:hover {
        border-color: #313131;
        color: #313131;
      }
    }
  }
  .inputContainer {
    position: relative;

    &.audioEnabled {
      padding-bottom: 71px !important;

      .openResponseTextarea {
        min-height: 170px !important;
        padding-bottom: 71px !important;
      }
    }

    .recordUIContainer {
      align-items: center;
      bottom: 10px;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 10px;
      text-align: right;

      .saveIndicator {
        animation: isActive .7s infinite;
        font-size: 14px;
      }
      .audioControls {
        align-items: center;
        border: solid 1px #ccc;
        border-radius: 8px;
        display: flex;
        margin-left: 5px;
        text-align: right;
      }
    }

    .audioPlayerUIContainer {
      align-items: center;
      bottom: 10px;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 10px;
  
      audio {
        display: none;
      }
      .audioControls {
        align-items: center;
        border: solid 1px #ccc;
        border-radius: 8px;
        display: flex;
        margin-left: 5px;
        text-align: right;
      }
    }
  }

  @keyframes isActive {
    0% { opacity: 1; }
    50% { opacity: .6 }
    100% { opacity: 1; }
  }

}