@import "../vars.scss";
@import "../../../../helpers/src/styles/px-to-rem.scss";

.thumbnail {
  height: 82px;
  width: 83px;
  position: relative;
  font-size: pxToRem(14);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
