@import "../vars.scss";

.thumbnail-wrapper {
  position: relative;
  height: 94px;
  margin: 5px;
  font-family: Andika;
  button {
    font-family: Andika;
    color: var(--cc-charcoal);
  }
  .thumbnail-button {
    border-radius: 8px;
    border: solid 1px var(--cc-charcoal);
    padding: 2px;
    margin: 1px;
    width: 89px;
    height: 88px;
    background-color: white;
    box-sizing: border-box;
    position: relative;
    transition: background-color .25s;
    overflow: hidden;
    svg {
      stroke: var(--cc-charcoal);
    }
    &:not(:disabled) {
      cursor: pointer;
      &:hover {
        background-color: $gray-button-hover;
      }
    }

    &:disabled {
      opacity: 0.35;
    }

    // &.empty {
    //   border: dashed 1px $gray-dark;
    //   svg {
    //     stroke: var(--cc-charcoal);
    //   }
    // }
    .empty-content {
      font-size: 16px;
    }

    &.selected {
      width: 89px;
      height: 88px;
      border-radius: 8px;
      border: solid 3px var(--cc-teal);
      padding: 0;
    }
  }

  .container {
    &.disabled {
      opacity: 0.7;
    }
  }

  .close {
    color: $gray-dark;
    font-size: 26px;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $gray-dark;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .25s;
    stroke: $gray-dark;
    cursor: pointer;

    &:hover {
      background-color: $gray-button-hover;
      box-shadow: 0 0 0 4px rgba(255,255,255,0.75);
    }

    &:active {
      box-shadow: 0 0 0 4px rgba(255,255,255,1);
    }

    &:disabled {
      stroke: rgba(51, 51, 51, .35);
      border-color: rgba(51, 51, 51, .35);
    }
  }
}
