@import "../vars.scss";
@import "../../../../helpers/src/styles/px-to-rem.scss";

.thumbnail-chooser {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  &.wide {
    justify-content: space-between;
  }

  .thumbnail-chooser-title {
    font-size: pxToRem(16);
    padding-top: 5px;
    text-align: center;
    margin: 10px;
  }

  .thumbnail-chooser-list {
    height: 110px;
    display: flex;
    align-items: center;
    overflow: hidden;
    &.wide {
      width: 100%;
      justify-content: space-around;
    }
  }

  .arrow-button {
    display: flex;
    justify-content: center;
    width: 10%;
    border-radius: 4px;
    background-color: var(--white);
    border: none;
    opacity: 1.0;
    &.wide {
      width: auto;
    }
    &:hover{
      background-color: var(--cc-teal-light-5);
    }
    &:active {
      background-color: var(--cc-teal-light-3);
    }
    &.disabled {
      opacity: 0.35;
      &:hover {
        background-color: var(--white);
      }
      &:active {
        background-color: var(--white);
      }
    }
  }

  .button-icon-container {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

}
