@import "../../../../helpers/src/styles/px-to-rem.scss";

.thumbnail-title {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 26px;
  height: 26px;
  z-index: 10;

  border-radius: 8px 0px;
  border: solid 1px var(--cc-charcoal);
  border-top: none;
  border-left: none;
  background-color: var(--white);

  font-size: pxToRem(16);
  font-weight: bold;
  text-align: center;
  color: var(--cc-charcoal);
  &.empty {
    display: none;
  }
}
