.iframeAuthoring {
  .iframeAuthoring {
    margin-top: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    width: 440px;

    &.open {
      overflow: auto;
    }
  }

  .iframeContainer {
    transition: max-height 500ms;
  }

  .link {
    cursor: pointer;
  }

  h4 {
    margin-left: 10px;
  }

  .navButtonField {
    padding: 5px 10px 0;
    width: 95%;
  }
}
