@import "../../../helpers/src/styles/px-to-rem.scss";

.openResponse {
  legend.prompt {     // clear bootstrap stuff
    display: unset;
    width: unset;
    margin-bottom: unset;
    font-size: 1rem;
    border: unset;
    padding-bottom: 5px;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  .inputContainer {
    position: relative;

    &.audioEnabled {
      padding-bottom: 71px !important;

      .openResponseTextarea {
        min-height: 170px !important;
        padding-bottom: 71px !important;
      }
    }

    .controlsContainer {
      align-items: center;
      bottom: 10px;
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 10px;
      text-align: right;

      .saveIndicator {
        animation: isActive .7s infinite;
        font-size: pxToRem(14);
        position: absolute;
        top: -20px;
        width: 80px;
        text-align: center;
        color: #0481a0;
      }

      .controls {
        align-items: center;
        border: solid 1px #ccc;
        border-radius: 8px;
        display: flex;
        margin-left: 5px;
        text-align: right;

        .controlContainer {
          width: 45px;
          height: 45px;

          &:hover {
            svg {
              path {
                fill: #016082;
              }
            }
          }

          &.disabled {
            cursor: not-allowed;
            opacity: .5;
            &:hover {
              border-color: #313131;
              color: #313131;
            }
          }

          &.active {
            animation: isActive .7s infinite;
            color: #016082;

            svg {
              path {
                fill: #016082;
              }
            }
          }

          .control {
            background: transparent;
            box-sizing: content-box;
            color: #313131;
            border-color: #313131;
            margin: 0;
            position: relative;
            transition: .2s;
            height: 45px;
            // padding: 2px 2px 1px 2px;
            width: 45px;
          }
        }
      }

      .timer {
        display: flex;
        height: 45px;
        align-items: center;
        font-size: 1rem;
        padding: 0 5px 0 0;

        &.zero {
          color: #919191;
        }

        &.active {
          color: #016082;
        }
      }

      .deleteContainer {
        position: absolute;
        right: -5px;
        top: -15px;
        width: 30px;
        height: 30px;

        cursor: pointer;

        svg {
          filter: drop-shadow(2px 2px 2px rgba(49, 49, 49, 0.5));
        }

        &:hover {
          svg {
            path {
              fill: #016082;
            }
            circle {
              stroke: #016082;
            }
          }
        }
      }

      audio {
        display: none;
      }
    }
  }

  @keyframes isActive {
    0% { opacity: 1; }
    50% { opacity: .6 }
    100% { opacity: 1; }
  }

}