legend.prompt { // clear bootstrap stuff
  display: unset;
  width: unset;
  margin-bottom: unset;
  font-size: 1rem;
  border: unset;
  padding-bottom: 5px;

  img {
    height: auto;
    max-width: 100%;
  }
}

.answerPrompt {
  margin-top: 10px;
  margin-bottom: 4px;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.warn {
  color: darkred;
}

.error {
  color: darkred;
  font-weight: bold;
}

.studentAnswerText {
  font-size: 0.9rem;
}

.inlineImg {
  max-width: 100%;
}

.dialogContent {
  width: 960px;
  margin: 0 auto;
  position: relative;

  .drawingTool {
    vertical-align: top;
    margin-right: 20px;
    width: 650px;
    display: inline-block;
  }

  .dialogRightPanel {
    vertical-align: top;
    display: inline-block;
    width: 280px;
    color: var(--cc-charcoal);

    .prompt {
      margin-top: 5px;
    }

    .default {
      font-style: italic;
    }

    .hasAnswer {
      font-style: normal;
    }

    hr {
      border-color: var(--cc-charcoal-light-1);
    }

    .closeDialogSection {
      text-align: right;

      .closeDialogButtons {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }
  }
}
