@import "../styles/helpers";

html {
  font-size: 16px;
}

.runtime {
  @include ap-styles;

  textarea {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    padding: 16px;
  }
}
