@import "../../../helpers/src/styles/px-to-rem.scss";

:global(body.font-size-large.font-type-notebook) {
  .uploadButtons {
    margin-left: 0;
  }
}

.header {
  font-weight: bold;
  font-size: pxToRem(16);
  margin: 10px;
}
.thumbnails, .uploadButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  .reachedMaxEntries {
    width: 107px;
  }

  .fakeThumbnail {
    position: relative;
    width: 89px;
    height: 84px;
    display: flex;
    opacity: 0.35;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: solid 1.5px var(--cc-charcoal-light-1);
    &.wide {
      width: 105px;
    }
    .plusButton {
      stroke: var(--cc-charcoal);
    }
  }
}
.uploadButtons {
  margin-left: -16px;
}
.bottom {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: flex-end;
  margin-bottom: 10px;
  .instructions {
    font-style: italic;
  }
  .cancelButton {
    height: 34px;
    align-self: flex-end;
  }
}